<div class="container">
  <form action="/review/new/<%= series.id %>">
    <input type="text" class="form-control" name="title" placeholder="Title"><br>
    <textarea name="body" class="form-control" rows="10" placeholder="Write your review here"></textarea><br>
    <input type="submit" class="btn btn-primary pull-right"></input>
  </form>
</div>