<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="/changepassword">
            <input type="password" class="form-control" placeholder="Old Password" name="oldpassword"><br>
            <input type="password" class="form-control" placeholder="New Password" name="newpassword"><br>
            <input type="password" class="form-control" placeholder="Confirm New Password" name="newpassword2"><br>
            <input type="submit" name="changepassword" class="btn btn-primary pull-right fill-width" value="Update">
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
  
</div>