<% for ( var i = 0; i < 5; i++ ) { %>
  <span class="glyphicon <%= (rating>i?"glyphicon-star":"glyphicon-star-empty") %> rating rating-<%= (i+1) %>" value="<%= (i+1) %>" series="<%= series.id %>"></span>
<% } %>
