<!DOCTYPE html>
<html>
  <head>
    <title>Aiveo</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Track, share, and discover your favorite TV series on Aiveo">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/welcome.css">

  </head>

  <body>
	  <div class="centered">
	  	<h1>Aiveo</h1>
	  	<h3>Track, share, and discover your favorite TV series</h3>
		<br>
		<% if (noPasswordMatch) { %>
			<h5>Your passwords do not match</h5>
		<% } %>
		<% if (noUniqueUsername) { %>
			<h5>Please check your input</h5>
		<% } %>
		<h3>Register</h3>
		<form action="/welcome/create" method="post">
			<input type="text" class="input-lg" name="username" placeholder="Username"><br><br>
			<input type="text" class="input-lg" name="email" placeholder="Email"><br><br>
			<input type="password" class="input-lg" name="password" placeholder="Password"><br><br>
			<input type="password" class="input-lg" name="password2" placeholder="Confirm Password"><br><br>
			<input type="submit" value="Register" class="btn btn-default btn-lg">
		</form>
  	  </div>
	  
	  
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </body>
</html>
