body
{
	background: rgb(238,238,238);
}

.navbar-black
{
	background-color:black; 
	color:grey;
}

.navbar-black a
{
	color:grey;
}

.navbar-black li:hover
{
	background-color: black;
}

.search-form
{
	width: 240px;
}

.smallimage
{
	width: 100px;
}

.overflow-visible
{
	overflow: visible;
}


.series-big-image
{
	display:inline;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 200px;
}


.series-big-header
{
	display:inline-block;
}

.series-big-addbutton
{
	margin-top:20px;
}

.fixed-thumbnail
{
	width: 180px;
}

#recent {
  background-image: url("/images/tweed.png");
}

#recent img {
  width:25%;
  margin-right: -4px;
}

.centerdiv
{
	margin:auto;
	float: none;
}
